<p style="color: green"><%= notice %></p>

<%= form_with url: clinics_path, method: :get do |f|%>
  <%= f.text_field :search, {value: params[:search], placeholder: 'Search...'} %>
<% end %>

<h1>Clinics</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">People</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @clinics.each do |clinic| %>
      <%= render partial: "clinic_row", locals: {clinic: clinic} %>
    <% end %>
  </tbody>
</table>

<%= link_to "New clinic", new_clinic_path, class: 'btn btn-primary' %>
